body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #004645;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .eventos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .evento {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .evento img {
    width: 100%;
    border-radius: 5px;
  }
  
  footer {
    background-color: #304645;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  button {
    background-color: hsl(159, 98%, 18%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0a029e;
  }